.kbpbody {
    background-color: #3b5998;
    color: rgb(223, 220, 220);
};

.btn-block {
    padding: 2%;
}

.button-style {
    font-size: 25px;
}

.quoteoutput {
   height: 190px;
}

.kbpfooter {
    background-color: black;
}
